<%- include('layouts/header') %>
<%- include('layouts/nav') %>
    <h1>Halaman Example!</h1>
    <p>Halaman contoh untuk ejs murni (tanpa module xpress-ejs-layouts)</p>
<%- include('layouts/footer') %>